/* div.css-j5r0tf.esravye1 {
    background-color: #141414;
    border: 4px solid green;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    color: #bcff96;
    box-shadow: 10px;
    min-width: 20rem;
}

div.css-k7vsyb.eqr7zpz1 {
    background-color: #141414;
    border: 4px solid rgb(128, 0, 0);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    /* color: #bcff96; */
    /* box-shadow: 10px;
    min-width: 20rem; */
} */